 
 @media screen and (max-width:1114px) {
    
    .button-card{
        grid-template-columns: repeat(2,1fr);
        width: 90%;
    }
    .button-card .card button{
        margin-top: 10px;
        width: 90%;
    }
    .offer-div{
        border-radius: 8px;
        width: 150px;
        height: 70px;
        bottom: 25px;
        right: 8px;
    }

    .offer-div h1{
        font-size: 18px;
        font-weight: 800;
    
    }
    .logo-part{
        font-size: 14px;
    }

 }
 @media screen and (max-width: 776px) {
    
    .card{
        width: 90%;
        margin: 0 auto;
    }
    .logo-part{
        font-size: 14px;
    }
 }
 @media screen and (max-width: 600px) {
    
    .container{
        width: 90%;
    }
    .container1{
        width: 90%;
    }
    /* .navbar{
        display: block;
    } */
    
    .button-card,
    .destination-img .img1,
    .destination-img .img2,
    .destination-img .img3,
    .why-card .card1,
    .why-card .card1 .one-card,
    .why-card .card1 .two-card,
    
    .sub-container{
        grid-template-columns: repeat(1,1fr);
        width: 90%;
        margin: 30px auto;
    }
    .why-card .card2{
        width: 80%;
        margin: 30px auto;
    }
    .button-card .card button,
    .info-section,
    .img-section,
    .destination-title,
    .text-area,
    .media-area{
        margin-top: 10px;
        width: 90%;
    }
    .d-card{
        width: 90%;
        margin: 0 auto;
    }
    .logo-part{
        font-size: 14px;
    }
    .logo-part .text{
        margin-left: 4px;
       
    }
    .newsletter-section .img-section,
    .newsletter-section .form-section{
        margin-top: 10px;
        width: 100%;
    }
    .nav-container,
    .nav-right,
    .popular-section,
    .why-card .card1,
    .sub-container,
    .sponsor-section .sponsor-img,
    .place-section{
        flex-direction: column;
    }
    .nav-right,.nav-right a{
        margin-top: 16px;
    }
    .destination-img .image img {
        width: 100%;
        max-height: 300px;
    }
    .newsletter-section .img-section{
        margin: 20px auto;
    }
    .offer-div{
        border-radius: 8px;
        width: 150px;
        height: 70px;
        bottom: 25px;
        right: 8px;
    }

    .offer-div h1{
        font-size: 18px;
        font-weight: 800;
    
    }
    
   
 }